{% extends "layout.html" %} {% block body %}

<div class="col">
    <form action="/compare" enctype="multipart/form-data" method="post">
        <center>
        <div>
            <input name="file1" type="file" />
        </div>
        <div>
            <input name="file2" type="file" />
        </div>
        <div>
            <div>
                <label>
                    <input name="algorithm" type="radio" value="lines"/>
                    Compare Lines
                </label>
            </div>
            <div>
                <label>
                    <input name="algorithm" type="radio" value="sentences"/>
                    Compare Sentences
                </label>
            </div>
            <div>
                <label>
                    <input name="algorithm" type="radio" value="substrings"/>
                    Compare Substrings:
                    <br>
                    <input min="1" name="length" placeholder="SIZE" type="number"/>
                </label>
            </div>
        </div>
        <br>
        <button type="submit">Compare</button>
        </center>
    </form>
</div>

{% endblock %}
